[submodule "config/fish/nvm-wrapper"]
	path = config/fish/nvm-wrapper
	url = git://github.com/passcod/nvm-fish-wrapper.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
