[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
	ignore = dirty
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = http://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "/Users/robenkleene/Dotfiles/vim/bundle/delimitMate"]
	path = /Users/robenkleene/Dotfiles/vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
