snippet vimaddplugin
cd $HOME/Dotfiles; git submodule add ${VISUAL/\n//} vim/bundle/${VISUAL/.*\/(.*)\.git/$1/}
endsnippet

snippet gitpushbranchorigin
git push -u origin ${VISUAL/\n//}
endsnippet

snippet gitcheckoutoriginbranch
git checkout -b ${VISUAL/\n//} origin/${VISUAL/\n//}
endsnippet

snippet gitpushdeleteoriginbranch
git push origin --delete ${VISUAL/\n//}
endsnippet
