snippet vimplugin
cd $HOME/Dotfiles; git submodule add ${VISUAL} vim/bundle/${VISUAL/.*\/\(.*\)\.git/\1/} 
endsnippet

snippet gpbo
git push -u origin [branch name]
endsnippet

snippet gcorb
git checkout -b [branch name] origin/[branch name]
endsnippet

snippet gbd
endsnippet
