snippet template "Template" b
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>${1:Title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  </head>
  <body>
    $0
  </body>
</html>
endsnippet
