snippet title "Title from filename" b
`!v system('markdown_title '.fnameescape(expand('%')))`
endsnippet
snippet jpost "Jekyll Post" b
---
layout: post
title: "${1:Title}"
categories: ${2:Tag1}, ${3:Tag2}
---

$0
endsnippet
snippet footnote "Footnote" b
* * *

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt[^${1:id}]

[^$1]: ut labore et dolore magna aliqua.
endsnippet
