snippet template "Template" b
#!/usr/bin/env python3

"""This module prints 'Hello World'."""

def main():
    """main"""
    $0

if __name__ == "__main__":
    main()
endsnippet
snippet printv "Print a variable"
print("${1:Variable} =", $1)
endsnippet
