snippet template "Basic template" b
#!/usr/bin/env ruby


endsnippet
snippet putsv "Print a variable" b
puts "${1:Variable} = #{$1}"
endsnippet
snippet putse "Print to STDERR" b
STDERR.puts 
endsnippet
snippet profile "Require profile" b
require 'profile'
endsnippet
