plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}
simplified_ui true
default_shell "nu"
pane_frames false
theme "nord"
copy_command "safecopy"

