'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'editor': {}
'core':
  'disabledPackages': [
    'vim-mode'
    'exception-reporting'
    'metrics'
    'emmet'
    'minimap'
  ]
  'themes': [
    'atom-light-ui'
    'atom-light-syntax'
  ]
  'useReactEditor': true
'tree-view':
  'hideIgnoredNames': true
'markdown-preview': {}
'autocomplete':
  'includeCompletionsFromAllBuffers': true
