"*":
  "*":
    "release-notes":
      viewedVersion: "0.94.0"
    welcome:
      showOnStartup: false
    core:
      disabledPackages: [
        "exception-reporting"
        "metrics"
        "vim-mode"
        "emmet"
      ]
    "tree-view":
      hideIgnoredNames: true
    autocomplete:
      includeCompletionsFromAllBuffers: true
    "find-and-replace":
      openProjectFindResultsInRightPane: true
      focusEditorAfterSearch: true
    "toggle-packages":
      togglePackages: [
        "emmet"
      ]
    "coffee-refactor":
      highlightReference: false
    "package-generator":
      createInDevMode: true
    refactor:
      highlightReference: false
      highlightError: false
    preview:
      _analyticsUserId: " "
      updateOnTabChange: false
    "coffee-compile":
      focusEditorAfterCompile: true
    "vim-mode":
      commandModeInputViewFontSize: 16
    editor:
      tabLength: 4
  "exception-reporting":
    userId: "82cd7f15-1e6d-e5bc-38b7-7e65f7159532"
  welcome:
    showOnStartup: false
  metrics:
    userId: "5977601d5d0e2c0fb47882fc311f352130f8bba8"
  core:
    disabledPackages: [
      "coffee-refactor"
      "js-refactor"
      "refactor"
      "script"
      "emmet"
      "metrics"
      "vim-mode"
    ]
  editor:
    invisibles:
      {}
    fontSize: 13
  linter:
    subtleLinterErrors: [
      "jshint"
    ]
  "toggle-packages":
    togglePackages: [
      "vim-mode"
      "emmet"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  Zen:
    {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "linter-jshint":
    {}
