# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'atom-text-editor':
  'ctrl-w': 'editor:delete-to-beginning-of-word'
  'cmd-alt-w': 'editor:toggle-soft-wrap'
  'alt-v': 'core:page-up'
  'alt-V': 'core:select-to-top'
  'ctrl-v': 'core:page-down'
  'ctrl-V': 'core:select-to-bottom'
  'ctrl-cmd-O': 'roben-kleene:open-in-default-application'
  # 'cmd-k e': 'roben-kleene:toggle-emmet'
  'alt-r': 'roben-kleene:reveal-in-finder'
  'alt-t': 'roben-kleene:open-in-terminal'
  'shift-cmd-space': 'roben-kleene:send-to-launchbar'
  'alt-s': 'roben-kleene:open-scratch-for-scope'
'.tree-view':
  'ctrl-alt-cmd-f': 'tree-view:show-in-file-manager'

'.fuzzy-finder atom-text-editor[mini]':
  'cmd-k up': 'pane:split-up'
  'cmd-k down': 'pane:split-down'
  'cmd-k left': 'pane:split-left'
  'cmd-k right': 'pane:split-right'

# Autocomplete Plus
# ".autocomplete-plus input.hidden-input":
#   "enter": "autocomplete-plus:confirm"
#   'tab': 'unset!'

# Emmet
# '.editor:not(.mini)':
#   'ctrl-alt-right': 'emmet:next-edit-point'
#   'ctrl-alt-left': 'emmet:prev-edit-point'
