# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'atom-text-editor:not(.mini)':
  'ctrl-w': 'editor:delete-to-beginning-of-word'
  'cmd-alt-w': 'editor:toggle-soft-wrap'
  'alt-v': 'core:page-up'
  'alt-V': 'core:select-to-top'
  'ctrl-v': 'core:page-down'
  'ctrl-V': 'core:select-to-bottom'
  'alt-{': 'editor:move-to-beginning-of-previous-paragraph'
  'alt-}': 'editor:move-to-beginning-of-next-paragraph'
  'alt-<': 'core:move-to-top'
  'alt->': 'core:move-to-bottom'
  'ctrl-cmd-O': 'roben-kleene:open-in-default-application'
  'alt-r': 'roben-kleene:reveal-in-finder'
  'alt-t': 'roben-kleene:open-in-terminal'
  'shift-cmd-space': 'roben-kleene:send-to-launchbar'
  'alt-cmd-n': 'roben-kleene:open-project-in-new-window'
  'ctrl-s': 'roben-kleene:open-scratch-for-scope'

'.tree-view':
  'ctrl-alt-cmd-f': 'tree-view:show-in-file-manager'

'.fuzzy-finder atom-text-editor[mini]':
  'cmd-k up': 'pane:split-up'
  'cmd-k down': 'pane:split-down'
  'cmd-k left': 'pane:split-left'
  'cmd-k right': 'pane:split-right'

'.platform-darwin':
  # Create an empty split pane
  'cmd-k left':  'pane:split-left'
  'cmd-k right': 'pane:split-right'
  'cmd-k up':    'pane:split-up'
  'cmd-k down':  'pane:split-down'

  # Create a split pane with the current pane item moved into it
  'cmd-k m left':  'pane:split-left-and-move-active-item'
  'cmd-k m right': 'pane:split-right-and-move-active-item'
  'cmd-k m up':    'pane:split-up-and-move-active-item'
  'cmd-k m down':  'pane:split-down-and-move-active-item'

  # Create a split pane with the current pane item duplicated
  'cmd-k d left':  'pane:split-left-and-copy-active-item'
  'cmd-k d right': 'pane:split-right-and-copy-active-item'
  'cmd-k d up':    'pane:split-up-and-copy-active-item'
  'cmd-k d down':  'pane:split-down-and-copy-active-item'

  # Move the current pane item to the target split pane
  'cmd-ctrl-shift-left':  'window:move-active-item-to-pane-on-left'
  'cmd-ctrl-shift-right': 'window:move-active-item-to-pane-on-right'
  'cmd-ctrl-shift-up':    'window:move-active-item-to-pane-above'
  'cmd-ctrl-shift-down':  'window:move-active-item-to-pane-below'

# Autocomplete Plus
# ".autocomplete-plus input.hidden-input":
#   "enter": "autocomplete-plus:confirm"
#   'tab': 'unset!'

# Emmet
# '.editor:not(.mini)':
#   'ctrl-alt-right': 'emmet:next-edit-point'
#   'ctrl-alt-left': 'emmet:prev-edit-point'
